<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="{% static "new.css" %}">
  </head>
  <body>
    <h2>Welcome</h2>
    <div class="djangotwo">
      <!-- {% if access_record %}
        <table>
          <thead>
            <th>Site Name</th>
            <th>Date Accessed</th>
          </thead>
          {% for acc in access_record %}
          <tr>
            <td>{{ acc.name}}</td>
            <td>{{ acc.date}}</td>
          </tr>
          {% endfor %}
        </table>
        {% else %}
        <p>No Access</p>
        {% endif %} -->
        <h1>Go to /form</h1>
    </div>
  </body>
</html>
