h1,h2{
  color:red;
  text-align: center;
}

table,th,td{
  border: 2px solid red;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  text-transform: capitalize;


}
h1{
  color:red;
}

/* .djangtwo{
  border: 2px solid blue;


} */
body{
  background: green;

}
